doctype html
html
  head
    meta(charset='utf-8')
    title= 'Home'
    link(rel='stylesheet', href='/css/style.css')
    base(target='_blank')
    link(rel='shortcut icon', href='/icon/icon.jpeg')
  body
    h1= 'Private'
    p
      'ここに自由に書く'
